@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

@layer components {
  .discover-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .discover-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .discover-scrollbar::-webkit-scrollbar-thumb {
    background: #3b82f6; 
    border-radius: 4px;
  }
  
  .discover-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #60a5fa;
  }
  .quiktrade-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .quiktrade-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .quiktrade-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e5e5; 
    border-radius: 4px;
  }
  
  .quiktrade-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 20s linear infinite;
}
